Repository junkor-1011/tauri-v2-nextjs-example-2024: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write, biome format --write --no-errors-on-unmatched

.lintstagedrc.yaml:

'*.{ts,tsx,mts,cts}':
  - biome check --write
'*.{js,jsx,mjs,cjs,json,jsonc}':
  - biome format --write --no-errors-on-unmatched

format
  src/app/layout.tsx
  src/app/page.tsx
Due: biome check --write

tauri
  .lintstagedrc.yaml
  next.config.mjs
  package.json
  pnpm-lock.yaml
  src-tauri/.gitignore
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/build.rs
  src-tauri/capabilities/default.json
  src-tauri/icons/128x128.png
  src-tauri/icons/128x128@2x.png
  src-tauri/icons/32x32.png
  src-tauri/icons/Square107x107Logo.png
  src-tauri/icons/Square142x142Logo.png
  src-tauri/icons/Square150x150Logo.png
  src-tauri/icons/Square284x284Logo.png
  src-tauri/icons/Square30x30Logo.png
  src-tauri/icons/Square310x310Logo.png
  src-tauri/icons/Square44x44Logo.png
  src-tauri/icons/Square71x71Logo.png
  src-tauri/icons/Square89x89Logo.png
  src-tauri/icons/StoreLogo.png
  src-tauri/icons/icon.icns
  src-tauri/icons/icon.ico
  src-tauri/icons/icon.png
  src-tauri/src/lib.rs
  src-tauri/src/main.rs
  src-tauri/tauri.conf.json
Due: biome format --write --no-errors-on-unmatched

build script
  package.json
Due: biome format --write --no-errors-on-unmatched

README
  README.md
Due: none

packages
  package.json
  pnpm-lock.yaml
Due: biome format --write --no-errors-on-unmatched

lint rule
  biome.json
Due: biome format --write --no-errors-on-unmatched

chore: update dependencies
  package.json
  pnpm-lock.yaml
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
Due: biome format --write --no-errors-on-unmatched

simple invoke example
  package.json
  pnpm-lock.yaml
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/commands.rs
  src-tauri/src/lib.rs
  src/app/invoke-example.tsx
  src/app/page.tsx
Due: biome check --write, biome format --write --no-errors-on-unmatched

CSP
  src-tauri/tauri.conf.json
Due: biome format --write --no-errors-on-unmatched

Devtools
  src-tauri/src/lib.rs
Due: none

daisyui
  package.json
  pnpm-lock.yaml
  src/app/invoke-example.tsx
  tailwind.config.ts
Due: biome check --write, biome format --write --no-errors-on-unmatched

add page
  src/app/ipc-example/page.tsx
  src/app/page.tsx
Due: biome check --write

ts-rs
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/ipc-if/Cargo.toml
  src-tauri/ipc-if/bindings/greet.ts
  src-tauri/ipc-if/src/greet.rs
  src-tauri/ipc-if/src/lib.rs
  src-tauri/src/commands.rs
  src/app/invoke-example.tsx
  tsconfig.json
Due: biome check --write, biome format --write --no-errors-on-unmatched

fix
  biome.json
Due: biome format --write --no-errors-on-unmatched

format className order for tailwind-css
  biome.json
  src/app/layout.tsx
  src/app/page.tsx
Due: biome check --write, biome format --write --no-errors-on-unmatched

chore: update dependencies
  biome.json
  package.json
  pnpm-lock.yaml
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/ipc-if/Cargo.toml
Due: biome format --write --no-errors-on-unmatched
